
# Ignored Folder
build
sqstudio/cache
sqstudio/images
sqstudio/backup
sqstudio/autosave
sqstudio/*.c
sqstudio/*.h
sqstudio/*.txt
sqstudio/components
sqstudio/screens

CMakeFiles


# Ignored File
.DS_Store
CMakeCache.txt
cmake_install.cmake
Makefile
